<?xml version="1.0"?>
<config>
  <modules>
    <Ndsl_Iserial>
      <version>0.1.0</version>
    </Ndsl_Iserial>
  </modules>
  <global>
    <helpers>
      <iserial>
        <class>Ndsl_Iserial_Helper</class>
      </iserial>
    </helpers>
	<models>
	  <iserial>
		<class>Ndsl_Iserial_Model</class>
		<resourceModel>iserial_mysql4</resourceModel>
	  </iserial>
	</models>
	<resources>
	  <salesattribute1506334305_setup>
		<setup>
		  <module>Ndsl_Iserial</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1506334305_setup>
	  <salesattribute1506334305_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1506334305_write>
	  <salesattribute1506334305_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1506334305_read>
	</resources>
  </global>
</config> 