<?xml version="1.0"?>
<config>
    <modules>
        <Ndsl_Gpay>
            <version>0.1.1</version>
        </Ndsl_Gpay>
    </modules>
    <global>
        <helpers>
            <gpay>
                <class>Ndsl_Gpay_Helper</class>
            </gpay>
        </helpers>
        <blocks>
            <gpay>
                <class>Ndsl_Gpay_Block</class>
            </gpay>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <order>Ndsl_Gpay_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <gpay>
                <class>Ndsl_Gpay_Model</class>
                <resourceModel>gpay_mysql4</resourceModel>
            </gpay>
            <gpay_mysql4>
                <class>Ndsl_Gpay_Model_Mysql4</class>
                <entities>
                    <gpay>
                        <table>ndsl_gpay_gmanage</table>
                    </gpay>
                    <gpay_quote>
                        <table>sales_quote_gpay</table>
                    </gpay_quote>
                    <gpay_order>
                        <table>sales_order_gpay</table>
                    </gpay_order>
                </entities>
            </gpay_mysql4>
        </models>
        <resources>
            <gpay_setup>
                <setup>
                    <module>Ndsl_Gpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gpay_setup>
            <gpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gpay_write>
            <gpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gpay_read>
            <salesattribute1506062069_setup>
                <setup>
                    <module>Ndsl_Gpay</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesattribute1506062069_setup>
            <salesattribute1506062069_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesattribute1506062069_write>
            <salesattribute1506062069_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesattribute1506062069_read>
        </resources>
        <events>
            <sales_quote_save_before>
                <observers>
                    <sales_quote_save_before_handler>
                        <type>singleton</type>
                        <class>gpay/observer</class>
                        <method>saveQuoteBefore</method>
                        <args></args>
                    </sales_quote_save_before_handler>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <sales_quote_save_after_handler>
                        <type>singleton</type>
                        <class>gpay/observer</class>
                        <method>saveQuoteAfter</method>
                        <args></args>
                    </sales_quote_save_after_handler>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <sales_quote_load_after_handler>
                        <type>singleton</type>
                        <class>gpay/observer</class>
                        <method>loadQuoteAfter</method>
                        <args></args>
                    </sales_quote_load_after_handler>
                </observers>
            </sales_quote_load_after>
            <sales_model_service_quote_submit_after>
                <observers>
                    <sales_model_service_quote_submit_after_handler>
                        <type>singleton</type>
                        <class>gpay/observer</class>
                        <method>saveOrderAfter</method>
                        <args></args>
                    </sales_model_service_quote_submit_after_handler>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after_handler>
                        <type>singleton</type>
                        <class>gpay/observer</class>
                        <method>loadOrderAfter</method>
                        <args></args>
                    </sales_order_load_after_handler>
                </observers>
            </sales_order_load_after>
            <paypal_prepare_line_items>
                <observers>
                    <paypal_prepare_line_items_handler>
                        <type>model</type>
                        <class>gpay/observer</class>
                        <method>updatePaypalTotal</method>
                        <args></args>
                    </paypal_prepare_line_items_handler>
                </observers>
            </paypal_prepare_line_items>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after_handler>
                        <type>model</type>
                        <class>gpay/observer</class>
                        <method>invoiceSaveAfter</method>
                        <args></args>
                    </sales_order_invoice_save_after_handler>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <sales_order_creditmemo_save_after_handler>
                        <type>model</type>
                        <class>gpay/observer</class>
                        <method>creditmemoSaveAfter</method>
                        <args></args>
                    </sales_order_creditmemo_save_after_handler>
                </observers>
            </sales_order_creditmemo_save_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_type_onepage_save_order_after_gpay_handler>
                        <type>model</type>
                        <class>gpay/newordertotalobserver</class>
                        <method>saveGpayTotal</method>
                        <args></args>
                    </checkout_type_onepage_save_order_after_gpay_handler>
                </observers>
            </checkout_type_onepage_save_order_after>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <checkout_type_multishipping_create_orders_single_gpay_handler>
                        <type>model</type>
                        <class>gpay/newordertotalobserver</class>
                        <method>saveGpayTotalForMultishipping</method>
                        <args></args>
                    </checkout_type_multishipping_create_orders_single_gpay_handler>
                </observers>
            </checkout_type_multishipping_create_orders_single>
        </events>
        <sales>
            <quote>
                <totals>
                    <gpay_total>
                        <class>gpay/quote_address_total_gpay</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grand_total</before>
                    </gpay_total>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <gpay_total>
                        <class>gpay/order_invoice_total_gpay</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grand_total</before>
                    </gpay_total>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <gpay_total>
                        <class>gpay/order_creditmemo_total_gpay</class>
                        <after>subtotal,freeshipping,tax_subtotal,shipping</after>
                        <before>grand_total</before>
                    </gpay_total>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <admin>
        <routers>
            <gpay>
                <use>admin</use>
                <args>
                    <module>Ndsl_Gpay</module>
                    <frontName>admin_gpay</frontName>
                </args>
            </gpay>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <gpay module="gpay">
                <title>Gpay</title>
                <sort_order>100</sort_order>
                <children>
                    <gpay module="gpay">
                        <title>Manage Gpay</title>
                        <sort_order>0</sort_order>
                        <action>admin_gpay/adminhtml_gpay</action>
                    </gpay>
                </children>
            </gpay>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <gpay translate="title" module="gpay">
                            <title>Gpay</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <gpay translate="title">
                                    <title>Manage Gpay</title>
                                    <sort_order>0</sort_order>
                                </gpay>
                            </children>
                        </gpay>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <gpay>
                    <file>gpay.xml</file>
                </gpay>
            </updates>
        </layout>
    </adminhtml>
</config> 